node_modules/

.env
.env.*
!.env.example
cypress.env.json

cypress/videos/
cypress/screenshots/
cypress/downloads/
cypress/reports/
mochawesome-report/

*.log
npm-debug.log*
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
